{% extends 'base.html.twig' %}

{% block title %}Liste des questions{% endblock %}

{% block body %}
<h1>Liste des questions</h1>

<p><a href="{{ path('admin_question_add') }}">Ajouter une question</a></p>

<table>
    <tr>
        <td>N°</td>
        <td>Slug</td>
        <td>Question</td>
        <td>Actions</td>
    </tr>
    {% for question in question_list %}

    <tr>
        <td>{{ question.id }}</td>
        <td>{{ question.name }} </td>
        <td>{{ question.title }}</td>
        <td>
            <a href="{{ path('admin_question_read', {"id" : question.id}) }}"> Voir</a> -
            <a href="{{ path('admin_question_edit', {"id" : question.id}) }}">Editer</a> -
            <a href="{{ path('admin_question_delete', {"id" : question.id}) }}">Supprimer</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
