{% extends 'base.html.twig' %}

{% block title %}Détails de la question{% endblock %}

{% block body %}

<h1>Détails</h1>

<h4> Catégorie :</h4>
{{ question.category.name }} 

<br>

<h4>Environnement :</h4>
{{ question.environment.name }} 

<br>

<h2>Question :</h2>
{{ question.title }}

<br>



<hr>
<a href="{{ path('admin_question_browse') }}">Retourner à la liste</a> -
<a href="{{ path('admin_question_edit', {"id" : question.id}) }}">Editer</a> -
<a href="{{ path('admin_question_delete', {"id" : question.id}) }}">Supprimer</a>

{% endblock %}